<head>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>

<div class="dashboard">
  <div class="dash">
    <div class="text">
      <h1 class="fade-in">Hello,</h1>
      <h1 class="fade-in delay-1">I Am Ganesh Parhad</h1>
      <h2 class="fade-in delay-2 tagline">FullStack Developer</h2><br><br>
      <p class="fade-in delay-3 quote">"Code is like humor. When you have to explain it, it’s bad." - Cory House</p>
    </div>
    <div class="code">
      <img src="assets/Templates-Code_Morphing.png" alt="Code Illustration">
    </div>
  </div>
</div>

  
  <app-my></app-my>


